body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-family: Macondo;
  font-size: 60px;
  color: goldenrod;
  opacity: 0.9;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

#type-select-div {
  display: flex;
  justify-content: center;
}

button, 
input,
select,
#display-number {
  width: 200px;
  height: 40px;
  margin: 10px 0;
  border-radius: 20px;
  
  color: beige;
  font-size: 20px;
  text-align: center;
  
  background-color: seagreen;
}

#display-number {
  margin: 10px 10px;
}

input {
  background-color: white;
  color: black;
}
